.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.why .common-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why .common-title p {
  text-align: left;
  max-width: 690px;
}

/* Tablet */
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.why-card .image {
  width: 50px;
  height: 50px;
  background-color: #f1f1fe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.why-card .image img {
  width: 25px;
  height: 25px;
}

.why-card h3 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 8px;
}

.dms-wch span {
  color: var(--blue-color);
}
.bes-wch span {
  color: #00a843;
}
.msme-wch span {
  color: var(--orange-color);
}
