.footer-strip {
  margin-bottom: -70px;
  position: relative;
  z-index: 9;
}

.footer-strip .common-title h2 {
  /* font-size: 39px; */
  color: var(--blue-color);
  font-weight: 700;
  font-family: "Libre Caslon Text", serif;
}

.footer-strip .common-title h2 span {
  color: var(--orange-color);
  font-family: "Libre Caslon Text", serif;
}

.footer-strip .common-btn:nth-child(2) {
  background-color: white;
  border: 1px solid #b1b1b1;
}

.footer-strip .common-btn:nth-child(2) p {
  color: var(--blue-color);
}

.bg-gray {
  background: #fff6ed;
  background: linear-gradient(98deg, rgba(255, 246, 237, 1) 39%, rgba(226, 220, 223, 1) 96%);
  padding: 30px;
  border-radius: 10px;
}

/* footer  */
.footer {
  background-color: #12183a;
  padding: 130px 0 40px 0;
}

.footer p {
  color: #8991b8;
  font-family: "Albert Sans", sans-serif;
}
.footer-img img {
  width: 220px;
  margin-bottom: 15px;
}

.footer h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 0;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  font-size: 14px;
  color: #c9cce0;
}

.map iframe {
  width: 100%;
  height: 180px;
}

@media screen and (max-width: 768px) {
  .footer-strip {
    margin-bottom: -110px;
  }
}
