.banner {
    background: linear-gradient(to right, #ffffff 0%, #f8feffea 100%);
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-content h1 {
    font-size: 39px;
    color: #000000CC;
    font-weight: 700;
}

.banner-content h1 span {
    color: var(--orange-color);
}

.banner-content h1 span:nth-child(3) {
    color: var(--blue-color);
}

.banner-content .common-btn:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--blue-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner-content .common-btn:nth-child(2) p {
    color: var(--blue-color);
}

.banner-content .common-btn:nth-child(2) img {
    width: 25px;

}

@media screen and (max-width:425px) {
    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content {
        gap: 3px;
    }
}